extends layout

block content
  div.fluid-container.p-5
    div.row.py-3
      div.col-1
      div.col
        form(action='/', method='post')
          div.row
            div.col
              label(for='returnAddressLabelTemplate',class='font-weight-bold') Return Address Label Template
                select(class='form-control', id='labelTemplate', name='labelTemplate')
                  if labelTemplates
                    for labelTemplate in labelTemplates
                      option(
                        value=(labelTemplate.templateName)
                        selected=(undefined===label ? labelTemplate.templateName==='Avery 15667' : label.labelTemplate === labelTemplate.templateName)
                      )
                        !=labelTemplate.templateName
          div.row.py-3
            div.col
              label(for='addressLine1',class='font-weight-bold') Address Line 1
              input(
                type='text',
                class='form-control',
                id='addressLine1',
                name='addressLine1',
                value=(undefined===label ? '' : label.addressLine1)
              )
              p.text-muted 
                i Example:  The Jones Family
              if errors
                for error in errors
                  - if (error.param === 'addressLine1')
                    span.text-danger
                      !=error.msg
          div.row
            div.col
              label(for='addressLine2',class='font-weight-bold') Address Line 2
              input(
                type='text',
                class='form-control',
                id='addressLine2',
                name='addressLine2',
                value=(undefined===label ? '' : label.addressLine2)
              )
              p.text-muted 
                i Example:  123 Main St.
              if errors
                for error in errors
                  - if (error.param === 'addressLine2')
                    span.text-danger
                      !=error.msg
          div.row  
            div.col
              label(for='addressLine3',class='font-weight-bold') Address Line 3
              input(
                type='text',
                class='form-control',
                id='addressLine3',
                name='addressLine3',
                value=(undefined===label ? '' : label.addressLine3)
              )
              p.text-muted 
                i Example: Anywhere, CA 12345
              if errors
                for error in errors
                  - if (error.param === 'addressLine3')
                    span.text-danger
                      !=error.msg
          button(type='submit',class='btn btn-primary float-right',id='downloadLabels') Download Labels
      div.col
        div.card.sticky-top
          div.card-header
            h5 Label Preview
            p.text-muted.my-0 A preview of what your return address label will look like
          div.card-body
            //h6.card-subtitle.mb-2.text-muted A preview of what your return address label will look like
            p#addressLine1-preview.card-text.address-preview The Jones Family
            p#addressLine2-preview.card-text.address-preview 123 Main St.
            p#addressLine3-preview.card-text.address-preview Anywhere, CA 12345
      div.col-1
      //div.col-2
        //img(
          src="https://images-na.ssl-images-amazon.com/images/I/81gnqYMJW%2BL._SL1500_.jpg",
          class="img-fluid img-thumbnail mx-auto sticky-top"
        //)
